// Color variables

$white: #ffffff;
$black: #000000;

// Gray shades
$nobel          : #cecece;
$dusty-gray     : #9b9b9b;
$silver-chalice : #a0a0a0;
$alto           : #d3d3d3;
$tundora        : #4c4c4c;
$gray           : #888888;
$nevada         : #636D73;

// Blue&Violet shades
$east-bay   : #3f4e85;
$charade    : #242633;
$gun-powder : #3e4259;

// Pink shades
$deep-blush: #E27689;