@import "../../assets/resources/_colors";
@import "../../assets/resources/_fonts";
@import "../../assets/resources/_animations";
@import "../../assets/resources/_note-creation-card";


// Scrollbar styles
*::-webkit-scrollbar {
	width: 3px;
}

*::-webkit-scrollbar-thumb {
	background-color: $silver-chalice;
}

%palette__dropdown {
    animation : dropdown-fade-in .2s;

    li {
        display         : flex;
        justify-content : space-around;
        padding         : 5px 0;

        .palette-circle {
            cursor        : pointer;
            border-radius : 50%;
            border        : 2px solid $silver-chalice; 
            width         : 25px;
            height        : 25px;

            &:hover {
                border: 2px solid darken($silver-chalice, 15%);
            }
        }
    }
}

.notes-list__wrapper {
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    overflow-y     : scroll; 
    overflow-x     : hidden;

    .note-creation-card__block {
        width           : 100%;
        flex            : 1 0 234px;
        display         : flex;
        justify-content : center;
        align-items     : center;

        .creation-card__left-clearfix, .creation-card__right-clearfix {
            flex: 1 1 34%;

            @media (max-width: 1024px) {
                flex: 1 0 20%;
            }

            @media (max-width: 600px) {
                flex: 1 0 10%;
            }
        }

        .creation-card__wrapper {
            @extend %creation-card;
        }
    }

    .notes-block__wrapper {
        flex: 1 0 calc(100% - 234px);

        .row {
            position: relative;
        }

        // Bootstrap modal window
        .modal {
            background-color : rgba($black, .7);

            .modal-dialog {
                position   : absolute;
                flex       : 1 0 35%;
                top        : 30%;
                left       : 0;
                right      : 0;
                margin-top : 0;
            }
        }

        .update-note__wrapper {
            @extend %creation-card;
        }

        .note-card {
            position         : relative;
            width            : 100%;
            height           : 180px;
            background-color : $white;
            border-radius    : 4px;
            box-shadow       : 0px 2px 15px 1px $black;
            display          : flex;
            flex-direction   : column;
            padding          : 0;
            margin-bottom    : 20px; 

            &:not(:last-of-type) {
                margin-right: 20px;
            }

            .note__title {
                flex      : 1 0 12%;
                padding   : 10px 14px 0 14px;
                max-width : 100%;

                span {
                    color         : $black;
                    font-family   : 'SourceSansPro-Semibold';
                    font-size     : 20px;
                    max-width     : 95%;
                    overflow      : hidden;
                    text-overflow : ellipsis;
                    white-space   : nowrap;
                    display       : inline-block;
                    height        : 22px;
                }
            }

            .note__content {
                flex        : 1 0 56%;
                padding     : 13px 18px 13px 13px;
                display     : flex;
                align-items : center;
                
                span {
                    font-family        : 'SourceSansPro-Light';
                    font-size          : 22px;
                    width              : 100%;
                    word-wrap          : break-word; 
                    overflow           : hidden;
                    text-overflow      : ellipsis;
                    display            : -webkit-box;
                    -webkit-box-orient : vertical;
                    -webkit-line-clamp : 3;
                    line-height        : 26px;
                }
            }

            .note__dropdown-menu {
                position : absolute;
                top      : 8px;
                right    : 12px;
                cursor   : pointer;

                i {
                    font-size: 2.6rem;
                }

                .note-card__dropdown {
                    animation : dropdown-fade-in .2s;
                    left      : -20px;

                    @media (max-width: 768px) {
                        left: -150px;
                    }
                    
                    li {
                        padding     : 12px 15px;
                        font-size   : 16px;
                        font-family : 'SourceSansPro-Regular';

                        &:hover {
                            background-color: rgba($black, .05);
                        }
                    }
                }
            }

            .note__management-block {
                flex    : 1 0 13%;
                padding : 0 10px 0 14px;

                .icons__wrapper { 
                    &:not(:last-of-type) {
                        margin-right: 15px;
                    }

                    i {
                        font-size : 2rem;
                        color     : rgba($black, .7);
                        cursor    : pointer;

                        &:not(:last-of-type) {
                            padding-right: 15px;
                        }

                        &.ion-ios-box {
                            font-size      : 2.4rem;
                            vertical-align : text-bottom;
                        }

                        &:hover {
                            color: $black;
                        }
                    }
                }

                .palette__dropdown {
                    @extend %palette__dropdown;
                }
            }
        }
    }
}